@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

header {
  width: 1140px;
  max-width: 90%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

header .logo {
  font-weight: bold;
}

header nav a {
  margin-left: 30px;
}

.carousel {
  margin-top: -50px;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.carousel .list {
  position: absolute;
  top: 0;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
}

.carousel .list .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  font-size: 15px;
}

.carousel .list .item img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .list .item .detail {
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item .intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  width: 400px;
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item:nth-child(2) .intro {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

.carousel .list .item:nth-child(n + 6) {
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item:nth-child(2) {
  transform: translate(0, 0);
  filter: blur(0);
  z-index: 10;
  opacity: 1;
}

.carousel .list .item:nth-child(1) {
  transform: translate(-100%, -5%) scale(1.5);
  filter: blur(30px);
  z-index: 11;
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item:nth-child(3) {
  transform: translate(50%, 10%) scale(0.8);
  filter: blur(10px);
  z-index: 9;
  opacity: 1;
}

.carousel .list .item:nth-child(4) {
  transform: translate(90%, 20%) scale(0.5);
  filter: blur(30px);
  opacity: 1;
  z-index: 8;
}

.carousel .list .item:nth-child(5) {
  transform: translate(120%, 30%) scale(0.3);
  filter: blur(40px);
  opacity: 0;
  z-index: 7;
  pointer-events: none;
}

.arrows {
  position: absolute;
  bottom: 10px;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrows #next,
.arrows #prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  border: 1px solid #555;
}

.arrows #back {
  font-family: Poppins;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #555;
  letter-spacing: 3px;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
}
