@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

header {
  width: 1140px;
  max-width: 90%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

header .logo {
  font-weight: bold;
}

header nav a {
  margin-left: 30px;
}

.carousel {
  margin-top: -50px;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.carousel .list {
  position: absolute;
  top: 0;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
}

.carousel .list .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  font-size: 15px;
}

.carousel .list .item img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .list .item .detail {
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item .intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  width: 400px;
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item:nth-child(2) .intro {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

.carousel .list .item:nth-child(n + 6) {
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item:nth-child(2) {
  transform: translate(0, 0);
  filter: blur(0);
  z-index: 10;
  opacity: 1;
}

.carousel .list .item:nth-child(1) {
  transform: translate(-100%, -5%) scale(1.5);
  filter: blur(30px);
  z-index: 11;
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item:nth-child(3) {
  transform: translate(50%, 10%) scale(0.8);
  filter: blur(10px);
  z-index: 9;
  opacity: 1;
}

.carousel .list .item:nth-child(4) {
  transform: translate(90%, 20%) scale(0.5);
  filter: blur(30px);
  opacity: 1;
  z-index: 8;
}

.carousel .list .item:nth-child(5) {
  transform: translate(120%, 30%) scale(0.3);
  filter: blur(40px);
  opacity: 0;
  z-index: 7;
  pointer-events: none;
}

.arrows {
  position: absolute;
  bottom: 10px;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrows #next,
.arrows #prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  border: 1px solid #555;
}

.arrows #back {
  font-family: Poppins;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #555;
  letter-spacing: 3px;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item .intro .title {
  font-size: 2em;
  line-height: 0.8em;
}

.carousel .list .item .intro .topic {
  font-size: 4em;
  font-weight: 500;
}

.carousel .list .item .intro .des {
  font-size: small;
}

.carousel .list .item .intro .seeMore {
  font-family: Poppins;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #555;
  padding: 5px 0;
  margin-top: 1.2em;
}

.carousel .list .item:nth-child(2) .intro .title,
.carousel .list .item:nth-child(2) .intro .topic,
.carousel .list .item:nth-child(2) .intro .des,
.carousel .list .item:nth-child(2) .intro .seeMore {
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

@keyframes showContent {
  from {
    transform: translateY(50px);
    filter: blur(30px);
  } to{
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

.carousel .list .item:nth-child(2) .intro .topic {
  animation-delay: 0.9s;
}

.carousel .list .item:nth-child(2) .intro .des {
  animation-delay: 1.1s;
}

.carousel .list .item:nth-child(2) .intro .seeMore {
  animation-delay: 1.3s;
}

.carousel.next .list .item:nth-child(1) {
  animation: positionItem2 0.5s ease-in-out 1 forwards;
}

@keyframes positionItem2 {
  from {
    transform: translate(0, 0);
    filter: blur(0);
    z-index: 10;
    opacity: 1;
  }
}

.carousel.next .list .item:nth-child(2) {
  animation: positionItem3 0.7s ease-in-out 1 forwards;
}

@keyframes positionItem3 {
  from {
    transform: translate(50%, 10%) scale(0.8);
    filter: blur(10px);
    z-index: 9;
    opacity: 1;
  }
}

.carousel.next .list .item:nth-child(3) {
  animation: positionItem4 0.9s ease-in-out 1 forwards;
}

@keyframes positionItem4 {
  from {
    transform: translate(90%, 20%) scale(0.5);
    filter: blur(30px);
    opacity: 1;
    z-index: 8;
  }
}

.carousel.next .list .item:nth-child(4) {
  animation: positionItem5 1.1s ease-in-out 1 forwards;
}

@keyframes positionItem5 {
  from {
    transform: translate(120%, 30%) scale(0.3);
    filter: blur(40px);
    opacity: 0;
    z-index: 7;
    pointer-events: none;
  }
}